@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #1e1e1e;
  --colorOne: #393b40;
  --colorThree: #525d64;
  --colorFour: #6b8187;
  --colorFive: #86a7a7;
  --bodyText: #a9cec2;
}

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--colorFour);
}
